.aboutContainer {
  color: #fff;
  margin-top: 10%;
}
.aboutPage {
  position: fixed;
  width: 380px;
}
.aboutContainer h4 {
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
  /* font-family: "Orbitron", sans-serif; */
  color: #52f2e2;
}
.aboutContainer h5 {
  color: #52f2e2;
  font-size: 20px;
}
.aboutContainer p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 20px;
}
.btn_about {
  margin-top: 15%;
}
.btn_about button {
  padding: 10px 40px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  border: 1px solid #52f2e2;
  cursor: pointer;
}
.btn_about button:hover {
  background-color: #52f2e2;
  color: #fff;
}
/*---------- ContactUsPage -------------*/
.contactPage {
  background: transparent;
  color: #fff;
  margin-top: 10%;
}
.contact_page {
  position: fixed;
}
.contactPage h5 {
  font-size: 24px;
  color: #52f2e2;
  font-family: "Orbitron", sans-serif;
  padding: 20px;
  margin-top: 10%;
}
.contactPage p {
  font-family: "Poppins";
  font-weight: 300;
}
.contactPageData {
  margin-top: 10px;
  cursor: pointer;
  height: 50px;
}
.contactPage p:hover {
  color: #52f2e2;
}
.contactUsSocials {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.twitter_icon {
  margin-right: 25px;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.twitter_icon:hover {
  border: 1px solid #52f2e2;
  border-radius: 50%;
}
.btn_contactPage {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  border: 1px solid #52f2e2;
  cursor: pointer;
}
/*---------------------FAQS---------------------*/
.faqsContainer {
  color: #fff;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
  overflow: scroll;
  overflow-y: hidden;
  /* border: 1px solid red; */
  overflow-x: hidden;
  height: 100vh;
}
.faqsData {
  position: fixed;
  width: 370px;
}
.faqsHeader {
  width: 100%;
  height: 230px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #52f2e2cc; */
}
/* video {
  width: 100%;
  height: 30vh;
  object-fit: contain;
} */
.faqsHeader h4 {
  /* position: absolute; */
  padding-top: 20px;
}
.faqsBox {
  margin-top: 20%;
}
.faqsQuiz {
  border-bottom: 1px solid #52f2e2;
  font-family: "Poppins";
  margin-top: 25px;
}
faqsForm {
  /* background: #0b524b; */
  display: flex;
  text-align: left;
  font-family: "Orbitron", sans-serif;
}
.faqsQuiz p {
  font-size: 10px;
  font-family: "Poppins";
  padding: 2px 15px;
  display: flex;
  text-align: left;
}
