.card-main {
  width: 90%;
  height: auto;
  background: linear-gradient(206.47deg, #1b1b1b 0%, #000000 100%);
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  margin: auto;
  max-width: 430px;
}
.card-main * {
  color: #fff;
  text-decoration: none;
}
.rate {
  margin: 5px;
}
.more span {
  padding-left: 20px;
  color: rgb(135, 240, 86, 0.4);
  font-weight: 500;
  font-size: 13px;
}
.card_desc {
  margin: 10px;
  padding: 10px;
  /* border-top: 2px solid rgb(135, 240, 86, 0.4);
  border-bottom: 2px solid rgb(135, 240, 86, 0.4); */
}
.stack_item {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}
.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}
.btn-container button {
  background: #1e1e1e;
  border: 1px solid #2c2c2c;
  box-shadow: 0px 0px 5px rgba(152, 152, 152, 0.2);
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  width: 80%;
  margin: auto;
  height: 30px;
}
.member-container {
  align-items: center;
  justify-content: center;
}
