* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.details_container {
  margin: 20px;
}
.details_projects {
  display: grid;
  background-color: #4b4b4b;
  grid-template-columns: 1fr 1fr;
  max-height: 250px;
  margin: 10px;
  padding: 10px;
}
.details_project {
  max-width: 350px;
  padding: 10px;
  padding-right: 50px;
}
.details_project h3 {
  color: #f05e56;
  padding: 5px;
  display: flex;
}
.details_project p {
  font-size: 11px;
  color: #a5a5a5;
}
.project_stack {
  padding: 130px 0 0 50px;
  display: flex;
}
.project_stack span {
  padding-right: 7px;
  font-size: 20px;
}
.project_stack p {
  padding: 7px 25px 0 0;
  font-size: 10px;
  color: #a5a5a5;
}
.greater {
  padding-left: 50px;
  display: block;
  margin: auto;
}
