.link {
  text-decoration: none;
}
.devdata_container {
  color: #fff;
}
.devdata_details {
  display: flex;
  margin: 1px 20px;
  padding: 3px;
  background-color: #343950;
  border-radius: 10px;
}
.devdata_image {
  width: 100px;
  padding-right: 20px;
}
.devdata_container img {
  padding-top: 3px;
  border-radius: 50%;
  width: 60px;
}
.devdata_name {
  text-align: left;
  padding-top: 10px;
  cursor: pointer;
  overflow: hidden;
  width: 500px;
  overflow-wrap: break-word;
}
.devdata_name::-webkit-scrollbar {
  width: 3px;
}
.devdata_name h3 {
  color: #f05e56;
  font-weight: 400;
  font-size: 14px;
}
.devdata_name i:hover {
  color: #f05e56;
}
.devdata_name span {
  font-size: 8px;
}
.devdata_name p {
  padding-right: 10px;
  color: gray;
  font-size: 10px;
}
.item {
  width: 200px;
  height: 100vh;
  top: 50%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.devdata_list {
  height: 79vh;
  overflow-y: scroll;
}
.devdata_list::-webkit-scrollbar {
  overflow-y: hidden;
}
.header_data {
  width: 80%;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.devdata_link {
  text-decoration: none;
  width: 100%;
}
.link {
  text-decoration: none;
  padding: 6px 17px;
  color: #fff;
}
