.home_container {
  background: #031926;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_logo img {
  height: 200px;
  margin-top: 20%;
}

.homeHead {
  height: auto;
}

.home_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home_header p {
  height: 29px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 4px;
}

.home_subheader {
  margin-top: 30px;
  height: 8vh;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
}

.gradient {
  position: absolute;
  /* width: 316px; */
  height: 316px;
  left: -57px;
  top: 134px;
  background: linear-gradient(
    180deg,
    #52f2e2 0%,
    rgba(82, 242, 226, 0.35) 100%
  );
  filter: blur(125px);
}

select.mySelectArrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(
    180deg,
    rgba(82, 242, 226, 0.1) 0%,
    rgba(65, 191, 179, 0.1) 100%
  );
  color: white;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  outline: none;
}

.all_items {
  background: #031926;
  height: auto;
}

.carousel_page {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 0px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel_data {
  overflow-x: scroll;
}
.carousel_data p {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.home_btn button {
  box-sizing: border-box;
  width: 330px;
  height: 45px;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(82, 242, 226, 0.1) 0%,
    rgba(65, 191, 179, 0.1) 100%
  );
  border: 1px solid #52f2e2;
  box-shadow: 0px 1px 10px rgba(82, 242, 226, 0.35);
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .home_btn {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .home_btn .search {
    width: 100px;
    font-size: 8px;
    height: 30px;
  }

  .home_btn button {
    width: 250px;
  }
}

.rightChevron {
  text-decoration: none;
}
.explore {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  margin: 50px auto;
  width: 70%;
}
@media (max-width: 768px) {
  .explore {
    width: 80%;
  }
}

.explore p {
  padding-top: 2px;
  padding-right: 2px;
  font-size: 11px;
}

.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #fff;
}

/* Screen View Page */
.screen_container {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Tags Page */
.tags_container,
.searchbar_container,
.searchAtt_container {
  font-family: "Orbitron", sans-serif;
}
.searchbar_container {
  margin-top: 8vh;
}
.tags_container {
  margin-top: 8vh;
}

.tags_header {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.tags_header img {
  width: 40px;
}

.tags_header p {
  padding-top: 12px;
  font-size: 14px;
}

.category {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .category {
    padding: 10px;
  }
}

.category,
.actions,
.searchbar,
.search_attr h4 {
  color: #fff;
}

.searchbar {
  width: 100%;
  margin-top: 5%;
  padding: 15px;
}

@media (max-width: 768px) {
  .searchbar h4 {
    font-size: 10px;
    text-align: center;
  }
}

.main_request {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.main_request button {
  border: 0.2px solid #52f2e2;
  border-radius: 30px;
  height: 30px;
  margin: 5px 10px 20px 0;
  padding: 8px 8px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.main_request button:hover {
  background: #009e8e;
  font-weight: 500;
}

.tagspage {
  margin-top: 5em;
}

/* Search Bar Page */
.tag_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: #0f3f46;
  border: 0.5px solid #52f2e2;
  border-radius: 10px;
  max-height: 350px;
  min-height: 155px;
}

@media (max-width: 768px) {
  .tag_box {
    max-width: 95vw;
    width: 100%;
  }
}

.btnSearch {
  background: transparent;
  color: #fff;
  font-size: 10px;
  height: 204px;
}

.tag_boxData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  /* margin-top: 2%; */
}

.tagBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .tagBox {
    width: 95vw;
    width: 100%;
  }
}

.tag_boxData p {
  text-decoration: none !important;
  text-transform: capitalize;
  border: 0.2px solid #52f2e2;
  border-radius: 20px;
  margin: 13px 6px 0 6px;
  padding: 2px 5px;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  font-family: "Poppins";
}

@media (max-width: 768px) {
  .tag_boxData p {
    padding: 1px;
    margin: 2px;
    font-size: 5px;
  }
}

/* Search Attributes */
.search_attr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chooseTags {
  width: 354px;
  height: 138px;
  left: 22px;
  top: 172px;
  background: #0f3f46;
  border: 1px solid #52f2e2;
  border-radius: 10px;
  text-align: left;
}

.chooseTags p {
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #ffffff;
  padding: 6px;
}

.searchAttributes button {
  display: flex;
  justify-content: space-between;
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 10px;
  text-align: left;
  padding: 7px 5px;
  cursor: pointer;
}

.searchAttrBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  width: 380px;
  background: #0f3f46;
  border: 0.5px solid #52f2e2;
  border-radius: 10px;
  max-height: 250px;
  min-height: 100px;
  padding: 6px 0;
}

.search_box p {
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #ffffff;
  padding: 6px;
  text-align: left;
}

.searchData {
  margin: 3% 2% 3% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag_Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .searchAttrBox {
    margin: 0 20px;
  }

  .search_box {
    min-height: 90px;
  }

  .search_box p {
    padding: 2px;
  }
}
.searchbar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 4%;
  z-index: 1000;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .searchbar_menu {
    width: 100%;
    max-width: 95vw;
  }
}

._btn {
  color: #fff;
}
