.home_container {
  height: 100vh;
  background: #031926;
  animation: slide-up 1.5s ease-in-out;
}
@keyframes slide-up {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.main_logo {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_logo img {
  height: 200px;
  margin-top: 20%;
}
.homeHead {
  height: auto;
}
.home_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home_header p {
  width: 139px;
  height: 29px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 4px;
}
.home_subheader {
  margin-top: 30px;
  height: 8vh;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
}
.gradient {
  position: absolute;
  width: 316px;
  height: 316px;
  left: -57px;
  top: 134px;
  background: linear-gradient(
    180deg,
    #52f2e2 0%,
    rgba(82, 242, 226, 0.35) 100%
  );
  filter: blur(125px);
}
select.mySelectArrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(
    180deg,
    rgba(82, 242, 226, 0.1) 0%,
    rgba(65, 191, 179, 0.1) 100%
  );
  color: white;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  outline: none;
}
.all_items {
  background: #031926;
  height: auto;
}
.carousel_page {
  height: auto;
  color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 5vh;
}
.carousel_data p {
  font-style: normal;
  font-weight: 200;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.home_btn button {
  box-sizing: border-box;
  width: 354px;
  height: 45px;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(82, 242, 226, 0.1) 0%,
    rgba(65, 191, 179, 0.1) 100%
  );
  border: 1px solid #52f2e2;
  box-shadow: 0px 1px 10px rgba(82, 242, 226, 0.35);
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.rightChevron{
  text-decoration: none;
}
.explore{
  margin: 20px;
  color: #fff;
  display: flex;
  justify-content: end;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  width: 354px;
  margin: 50px auto;
}
.explore p{
  padding-top: 2px;
  padding-right: 2px;
}
.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #fff;
}

/* Screen View Page */
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.screen-container.fade-out {
  opacity: 0;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Tags Page */
.tags_container, .searchbar_container, .searchAtt_container{
  font-family: "Orbitron", sans-serif;
}
.tags_header{
  display: flex;
  flex-direction: row;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}
.tags_header img{
  height: 30px;
  width: 30px;
}
.tags_header p {
  padding-top: 8px;;
}
.category{
  margin-top: 10px;
}
.category, .actions, .searchbar, .search_attr h4{
  color: #fff;
  text-align: left;
  margin: 3em 0;
}
.main_request {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.main_request button {
  border: 0.2px solid #52f2e2;
  border-radius: 30px;
  height: 30px;
  margin: 5px 10px 20px 0;
  padding: 8px 8px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.main_request button:hover {
  background-color: #52f2e2;
  font-weight: 500;
}
.tagspage{
  margin-top: 10em;
}
/* Search Bar Page */
.tagBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px ;
}
.searchBox {
  width: 354px;
  height: 49px;
  background: #0f3f46;
  border: 1px solid #52f2e2;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  padding: 1px 5px;
}
.tagBox input{
  color: #fff;
  padding-left: 10px;
}
.tag_box{
  width: 354px;
  height: 204px;
  background: #0F3F46;
  border: 0.5px solid #52F2E2;
  border-radius: 10px;
  max-height: 450px;
  min-width: 300px;
  min-height: 205px;
}
.btnSearch {
  /* border: 1px solid red; */
  background: transparent;
  /* padding: 2px 10px; */
  color: #fff;
  font-size: 10px;
  height: 204px;
  /* border-radius: 0 10px 10px 0; */
}
.tag_boxData {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Search Attributes */
.search_attr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chooseTags{
  width: 354px;
  height: 138px;
  left: 22px;
  top: 172px;
  background: #0F3F46;
  border: 1px solid #52F2E2;
  border-radius: 10px;
  text-align: left;
}
.chooseTags p {
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding: 6px;
}
.searchAttributes button {
  display: flex;
  justify-content: space-between;
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 10px;
  text-align: left;
  padding: 7px 5px;
  cursor: pointer;
}
.searchAttrBox {
  margin: 20px;
}
.search_box{
  width: 354px;
  background: #0F3F46;
  border: 0.5px solid #52F2E2;
  border-radius: 10px;
  max-height: 250px;
  min-height: 100px;
  padding: 6px 0;
}
.search_box p{
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding: 6px;
  text-align: left;
}
.tag_boxData p{
  text-decoration: none;
}