.main-member {
  text-decoration: none;
  position: relative;
}
.main-member img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.profile_dev {
  text-decoration: none;
  position: relative;
  /* border: 1px solid red; */
}
.profile_dev img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 3px;
}
