.main-member {
  text-decoration: none;
  position: relative;
}
.main-member img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  opacity: 0.8;
}
.main-member:not(:nth-child(1)) {
  margin-left: -0.8rem;
}
.profile_dev {
  text-decoration: none;
  position: relative;
}
.profile_dev img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
  border: 1px solid #25d366;
}
