.member-header{
    color: #fff;
}
.member-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.main-member{
    /* width:7vw;
    height:7vw; */
    /* border-radius: 50%; */
    max-width: 100px;
    max-height: 100px;
    min-width: 10px;
    min-height: 10px;
    margin:auto;
    overflow:hidden;
}
.main-member img{
    width:100%;
    height: 100%;
}