.projectDetail_container {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}
.project_banner {
  width: 100%;
  /* width: 390px; */
  height: 241px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    #7593cb 20.82%,
    rgba(67, 117, 217, 0) 100%
  );
  overflow-y: hidden;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.title_desc {
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  margin-top: 10px;
  font-family: "Orbitron", sans-serif;
}
.title_desc h3 {
  z-index: auto;
  font-size: 17px;
  padding-right: 3px;
}
.title_desc img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.body_desc {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 12px;
  width: 80%;
  text-align: left;
  margin: auto;
  color: #fff;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 50x;
  padding-top: 10px;
}
.project_team {
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
}
.carousel_page {
  display: flex;
  justify-content: center;
}
