body {
  overflow-x: hidden;
  background-color: #031926;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}
.main_header {
  width: 100%;
  height: 100%;
}
.main_container {
  position: relative;
  max-height: 100vh;
  background-color: #031926;
  position: absolute; 
  width: 100%;
  /* max-width: 400px; */
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
.main_search {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding-left: 22px;
  font-size: 9px;
  color: #fff;
  line-height: 12px;
  font-family: "Poppins";
  margin: 25px 20px;
}
.search-bar {
  padding-top: 2%;
  width: 100%;
  max-width: 400px;
  position: fixed;
  background-color: #031926;
  z-index: 1000;
  top: 0;
}
.matchRateData {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}
.matchRateData p {
  margin-top: 14px;
  font-size: 14px;
}
.current-tags {
  width: 80%;
  height: auto;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1px;
  flex-wrap: wrap;
  color: #989898;
}
.more-btn {
  background: #090909;
  border: 0.2px solid #d9d9d9;
  border-radius: 14px;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  height: 40px;
}
.more {
  width: 100%;
  text-align: center;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.booking-button {
  width: 270px;
  height: 45px;
  left: 60px;
  top: 661px;
  color: #fff;
  background: #52F2E2;
  border: 1px solid #000000;
  box-shadow: 0px 1px 10px rgba(82, 242, 226, 0.35);
  border-radius: 10px;
  cursor: pointer;
}

.btn_link {
  text-decoration: none;
  color: #fff;
}
.footer_container {
  position: fixed;
  bottom: 0;
  background-color: #031926;
  padding-bottom: 10px;
  padding-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.footer_italic {
  font-size: 10px;
  color: #52f2e2;
}
.footer-text {
  color: #fff;
}
.footer-text i {
  font-size: 10px;
}
.item {
  height: 50vh;
  top: 50%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031926;
}
.team_stack {
  display: flex;
  justify-content: center;
}
/*---------Contact Us Page---------*/
.contactUsContainer {
  height: 100vh;
  width: 100%;
  background: #031926;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  overflow-y: hidden;
}
.contactUsContainer ul {
  display: block;
}
.my_links {
  padding-left: 40px;
  top: 30px;
  width: 390px;
  height: 57px;
  border-top: 0.1rem solid #52f2e2;
  border-bottom: 0.1rem solid #52f2e2;
  display: flex;
  align-items: center;
  margin: 35px 0;
  color: #fff;
  text-decoration: none;
  list-style: none;
}
.my_links:hover {
  background-color: #0b524b;
  border-width: 1px 0px;
  border-style: solid;
  border: 1px solid #52f2e2;
}
