body {
  max-height: 100vh;
  overflow-y: hidden;
}
.main_header {
  margin-top: 10px;
}
.header {
  margin: 20px;
  text-align: center;
}
.header img {
  padding-bottom: 10px;
}
.header_data {
  width: 80%;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.devdata_link {
  text-decoration: none;
  width: 100%;
}
.link {
  text-decoration: none;
   padding: 6px 17px;
  color: #fff;
}
.header_data a.active {
  border-bottom: 3px solid #f05e56;
}
.main {
  width: 100vw;
  max-width: 700px;
  margin: auto;
}
body {
  /* background: rgb(30,30,30);
    background: radial-gradient(circle, rgba(30,30,30,1) 0%, rgba(128,128,128,1) 0%, rgba(30,30,30,1) 80%); */
  background-color: #1e1e1e;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
}
select {
  width: 80%;
  margin-top: 10px;
  height: 30px;
  border-radius: 13px;
  border: 1px solid #d1b6b5;
  padding: 0 10px;
  background-color: rgb(78, 75, 75);
  color: rgb(167, 161, 161);
  letter-spacing: 1px;
}
.btn {
  height: 48px;
  margin-left: 10px;
  background-color: rgb(78, 75, 75);
  color: rgb(167, 161, 161);
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 0 15px;
}
input::placeholder {
  color: rgb(163, 156, 156);
}
.current-tags {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2px;
  flex-wrap: wrap;
  color: #989898;
}
.tag {
  background-color: rgb(49, 49, 49);
  color: rgb(163, 156, 156);
  border-radius: 15px;
  padding: 0 5px;
  width: auto;
}
.tag p {
  margin: 5px;
  font-size: small;
}
.more-btn {
  background: #090909;
  border: 0.2px solid #d9d9d9;
  border-radius: 14px;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  height: 40px;
}
.more {
  width: 100%;
  text-align: center;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.booking-button {
  width: 80%;
  height: 40px;
  padding: 5px;
  border: none;
  background: #f05e56;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
.btn_link {
  text-decoration: none;
  color: #fff;
}
.footer_container {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 8px;
  background: linear-gradient(192.05deg, #000000 0%, #09101f 100%);
}
.footer-text {
  color: #fff;
}
.footer-text img {
  width: 40px;
}
.tabs {
  margin-top: 10px;
}
.tablist {
  color: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}
.item {
  width: 200px;
  height: 100vh;
  top: 50%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
