.main_header {
  margin-top: 70px;
}
.header {
  margin: 20px;
  text-align: center;
  margin-top: 3vh;
}
.header img {
  padding-bottom: 10px;
}
.main {
  width: 100vw;
  max-width: 700px;
  margin: auto;
}
body {
  /* background: rgb(30,30,30);
    background: radial-gradient(circle, rgba(30,30,30,1) 0%, rgba(128,128,128,1) 0%, rgba(30,30,30,1) 80%); */
  background-color: #1e1e1e;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
}
select {
  width: 40%;
  margin-top: 10px;
  height: 50px;
  border-radius: 13px;
  border: none;
  padding: 0 20px;
  background-color: rgb(78, 75, 75);
  color: rgb(167, 161, 161);
  letter-spacing: 1px;
}
.btn {
  height: 48px;
  margin-left: 10px;
  background-color: rgb(78, 75, 75);
  color: rgb(167, 161, 161);
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 0 15px;
}
input::placeholder {
  color: rgb(163, 156, 156);
}
.current-tags {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  color: #989898;
}
.project_number {
  color: #fff;
}
.tag {
  background-color: rgb(49, 49, 49);
  color: rgb(163, 156, 156);
  border-radius: 15px;
  padding: 0 10px;
  width: auto;
  margin-top: 5px;
}
.tag p {
  margin: 10px;
  font-size: small;
}
.more-btn {
  background: #090909;
  border: 0.2px solid #d9d9d9;
  border-radius: 14px;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  height: 40px;
}
.more {
  width: 100%;
  text-align: center;
}
.booking-button {
  width: 235px;
  height: 40px;
  border: none;
  background: #f05e56;
  border-radius: 30px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
.btn_link {
  text-decoration: none;
  color: #fff;
}
.footer_container {
  margin: 20px;
}
.footer-text {
  color: #fff;
}
.footer-text img {
  width: 40px;
}
.tabs {
  margin-top: 10px;
}
.tablist {
  color: #f05e56;
  margin: 10px;
}
