.top_bar{
  width: 100%;
  border: 1px solid red;
}
.search_barTop {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.search_barTop *{
  width: auto;
}
.btn_navigate {
  border: none;
  background-color: transparent;
  color: #fff;
}
.search_barTop img {
  height: 50px;
}
.hambuger{
  padding-top: 2%;
  padding-right: 12%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hambuger {
  color: #fff;
}

