.search_barTop {
  display: flex;
  justify-content: space-between;
}
.previous{
  padding: 1% 6%;
}
.btn_navigate {
  border: none;
  background-color: transparent;
}
.search_barTop img {
  height: 30px;
}
.top_logo {
  width: 70px;
  height: 50px;
}

.hambuger{
  padding-top: 2%;
  padding-right: 12%;
}
.hambuger img {
  height: 15px;
  cursor: pointer;
}
.searchTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  padding-bottom: 10px;
}
.top_bar{
  margin: 0;
  width: 100%;
}
