.search_barTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}
.btn_navigate {
  border: none;
  background-color: transparent;
}
.search_barTop img {
  height: 30px;
}
.top_logo {
  width: 50px;
}
.hambuger img {
  height: 15px;
  cursor: pointer;
}
.searchTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  padding-bottom: 10px;
}
