/* *{
    background: linear-gradient(192.05deg, #000000 0%, #09101f 100%);
} */
/* .container {
  left: 50%;
  position: absolute;
  transform: translateX(50%);
  margin: auto;
} */
.loader_title {
  margin-top: 40vh;
  color: #f05e56;
}
* {
  max-width: 500px;
  /* margin: auto; */
}

@media screen and (min-width: 500px) {
  * {
    max-width: 400px;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
  }
}
